/* Header */
.landing-header {
    position: sticky;
    top: 0;
    background-color: #000000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Caveat";
    color: #fff;
}

.logo span {
    color: #2ebce4;
    padding-left: 5px;
}

.auth-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.auth {
    background-color: #ffffff;
    border-radius: 10px;
    border-bottom: .2px solid #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease-in ;
    margin-right: 25px;
}

.auth:hover {
    background-color: #1f1e1e;
    color: #ffffff;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky+.content {
    padding-top: 20px;
}

.title h1 {
    font-family: "oblique" , sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color:#ffffff;
}

.title span {
    font-family: cursive;
}

.title p {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    font-weight: bolder;
    background: linear-gradient(to right, #ffffff 0%, #505050 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    padding: 2rem;
}


.hero img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 35px;
    border: 1px solid #ffffff;
    box-shadow: #ffffff 0px 0px 15px 0px;
    white-space: pre-wrap;
}

.letsButton {
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #000000;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: monospace;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 1s ease;
    margin-bottom: 10px;
    margin-top: 25px;
}

.letsButton:hover {
    background-color: #1f1e1e;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 90px #ffffff;
}


.margin{
    margin-top: 30px;
    padding: 15px;
    background-color: #060606;
    filter: blur(10px);
    scroll-behavior: smooth;
    margin-bottom: 0px;

  }
  

/* Footer */

.footer {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: #fff;
    margin-top: 0px;
    background-color: #000000;
  }
  